# Local outputs
_out/
_out*/
_out_OGS/
_runs_ogs/
_plots_fields/
_plots_darcy/

# Python cache
__pycache__/
*.py[cod]

# Jupyter notebook extras
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# OS extras
.DS_Store
